body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

#home .profile-img {
    width: 300px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
}

#home h1 {
    font-size: 3em;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

#home {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('image-5.jpg');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('image-7.jpg');
}

#portfolio {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('image-6.jpg');
}

#game {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('image-10.jpg');
}
 
social-icons{
  position: absolute;
  right: 50px;
  bottom: 2%; 
}
.social-icons ul li{
  width: 50px;
  height: 50px;
  display: inline-block;
}
.social-icons ul li a{
  display: block;
  color: pink;
  text-align: center;
  padding: 12px 17px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.social-icons ul li a:hover{
  background: #c32865;
  color: #fff;
}

#education h1{
  position:absolute;
  color:rgb(24, 22, 22);
  margin:0%;
  font-size:50px;
 margin-left:0%;
 margin-top: 3%;
  
}
#education p{
  position:absolute;
  color:rgb(24, 22, 22);
  margin:0%;
  font-size:50px;
 margin-left:10%;
 margin-top: 27%;
  
}
.para{

  min-width : 720px;
  min-height : 730px;
  background-size:100% 100%;
}
.pic{
  position:relative;
  margin-left: 65%;
  background: url('image-2.jpg');
  max-width : 440px;
  min-height : 330px;
  background-size:100% 100%;
}
.pic2{
  position:relative;
  margin-left:68%;
  background: url('image-3.jpg');
  max-width : 500px;
  min-height : 330px;
  background-size:100% 100%;
}
.para pre{
  text-align:left;
  position:absolute;
  margin:0%;
  top:232%;
  left:3%;
  background-color: white;
  border-color: rgb(3, 44, 82);
  border-style: solid;
  border-width: 5px;
  max-width: 660px;
}
.para2 pre{
  position:absolute;
  margin:0%;
  top:275%;
  left:10%;
  background-color: white;
  border-color: rgb(3, 44, 82);
  border-style: solid;
  border-width: 5px;
  max-width: 660px;
}
.section-inner pre{ font-size:17px;
                    font-family: "Courier New", monospace;
                    text-align: center;}
                     
div.leftdiv {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  position: absolute;
  left: 150px;
  width: 300px;
  height: 120px;
  top:    200px;
} 

div.Rightdiv {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  position: absolute;
  right: 150px;
  width: 330px;
  height: 120px;
  top:    200px;
} 
         
.gamebutton
{
  margin-top: 10px;
  padding:10px;
  background-color: green;
  color: white;
}
 .formbutton
{
  margin-top: 10px;
  padding:10px;
  background-color: green;
  color:white;
}
